credentials.json
credentials.json
credentials.json
*.class
femkamp/runtime/*

# Bygg/artefakter
target/
out/
build/
*.class
*.jar
*.war
*.ear
*.log

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
